.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
  position: relative;

  p, h2 {
    color: var(--extra-color);
    font-weight: 400;
  }

  .hero {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid var(--text-color);
    object-fit: cover;
  }
  

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    font-family: "Montserrat", monospace;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.description {
  max-width: 24ch;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.colorMode {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 50px;
  font-size: 2rem;
  text-align: right;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

.colorMode:hover {
  transform: scale(1.05);
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--text-color);
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  stroke: var(--text-color);
  z-index: 10;
}

.wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-5px);
  }
  50% {
    transform: translateX(-50%) translateY(0);
  }
  75% {
    transform: translateX(-50%) translateY(5px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width < 800px) {
  .arrow {
    bottom: -25px;
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
