.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .contactRow {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .copyBtn {
    display: flex;
    align-items: left;
    gap: 10px;
    background: none;
    border: none;
    color: var(--background-color);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-align: left;
    justify-content: flex-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--text-color);
    font-family: "Montserrat", monospace;
  }
  
  .copyBtn:hover {
    transform: scale(1.05);
  }
  
  .copyBtn:active {
    transform: scale(0.98);
  }
  
  .icon {
    width: 30px;
    height: 30px;
    fill: var(--background-color);
  }
  
  .copied {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-left: 10px;
    transition: opacity 0.3s ease;
  }
  
  /* FORM STYLES REMAIN SAME */
  
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  textarea,
  input:not([type="submit"]) {
    height: 50px;
    padding-left: 16px;
    width: 250px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat", monospace;
  }
  
  textarea {
    padding-top: 16px;
    resize: none;
    height: 250px;
  }
  
  input,
  textarea {
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--text-color);
    color: var(--background-color);
  }
  
  ::placeholder {
    color: var(--background-color);
  }
  
  input[type="submit"] {
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    margin: auto;
    font-family: "Montserrat", monospace;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.05);
  }
  
  input[type="submit"]:active {
    transform: translateX(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  @media (width >= 800px) {
    textarea,
    input:not([type="submit"]) {
      width: 600px;
      font-size: 20px;
    }
  
    form {
      gap: 40px;
    }
  }
  
  @media (width >= 1400px) {
    textarea,
    input:not([type="submit"]) {
      width: 800px;
      font-size: 20px;
    }
  }
  